.item{
    background-color: azure;
    width: 700px;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
.cmd{
    font-weight: bold;
    text-align: center;
}
#image{
    width: 700px;
    align-items: center;
}
h2{
    color: red;
}
.programming-hero{
    width: 700px;
}